* {
    margin: 0 0;
    font-size: medium;
}

.game-screen {
    height: 100vh;
    width: 100vw;
    background-color: #9b835f;
}

#header {
    color: #e5ab46;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    padding-top: 2vh;
}

#header>img {
    height: 3rem;
}

.container {
    height: 90vh;
}

.game-grid {
    font-weight: bolder;
    padding-top: 1vh;
    display: grid;
    height: 85vh;
    max-width: 60vw;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1/2fr repeat(3, 2fr) 1/2fr;
    grid-template-areas:
        'player . com'
        'p-rock . com-rock'
        'p-paper vs com-paper'
        'p-scissor . com-scissor'
        '. refresh .';
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .game-grid {
        max-width: 90vw;
    }
}

.game-grid > div {
    height: auto;
    width: auto;
    border-radius: 25px;
    padding: 10%;
}

.game-grid>div>img {
    /* display: flex; */
    max-width: 100px;
    height: auto;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.player-name {
    grid-area: player;
    height: auto!important;
    padding: 0!important;
}

#p-rock {
    grid-area: p-rock;
}

#p-paper {
    grid-area: p-paper;
}

#p-scissor {
    grid-area: p-scissor;
}

.vs {
    color: red;
    grid-area: vs;
    font-size: 5em;
}

.com-name {
    grid-area: com;
    height: auto!important;
    padding: 0!important;
}

#c-rock {
    grid-area: com-rock;
}

#c-paper {
    grid-area: com-paper;
}

#c-scissor {
    grid-area: com-scissor;
}

.refresh {
    grid-area: refresh;
    width: 50px !important;
}

.background-color-change {
    background-color: #c4c4c4;
}

.result {
    font-size: 2em;
    text-align: center;
    position: absolute;
    width: 5em;
    height: auto;
    background-color: #4b9653;
    color: black;
    transform: rotate(-30deg);
}

.draw {
    font-size: 2em;
    text-align: center;
    position: absolute;
    width: 5em;
    height: auto;
    background-color: #035c0c;
    color: black;
    transform: rotate(-30deg);
}